* {
    margin: 0;
    padding: 0;
}

body {
    background: -webkit-linear-gradient(left, #4c0854, #0c020c);
    font-family: "Jost", sans-serif;
}

header {
    padding: 1rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainHeading {
    text-align: center;
    background-color: black;
    color: white;
    margin-right: -37%;
}

.headingNav {
    right: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -37%;
    margin-top: 1%;
    width: 9vw;
}

.navLink {
    text-decoration: underline;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tutorForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    margin: 6rem 31vw;
    color: rgb(10, 10, 10);
    background-color: rgb(80, 41, 80);
}

.inputBox {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

label {
    padding: 1rem;
}

input,
button {
    box-sizing: border-box;
    padding: 1rem;
    width: 40%;
    right: 0;
    transition: 0.2s ease-in;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
}