<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Student Home</title>
    <meta charset="UTF-8" />
    <link
    href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body> 
         <header>
      <h1 class="mainHeading">TUTOR FINDER SYSTEM</h1>
      <div class="headingNav">
        <a class="navLink" name="profile" href="#">Your Profile</a>
        <a class="navLink" name="logout" href="#">Logout</a>
      </div>
    </header>

     <div class="container">
      <div class="sidebar" id="sidebar"></div>
      <div id="mainBody"></div>
      
    </div>
    <script type="text/javascript">
      function sidebar() {
        console.log("sidebar");
        document.getElementById("sidebar").innerHTML = `
        <ul>
           <li><span id="listtutor">List Tutor</span></li>
          <li><span id="filter">Filter Tutor</span></li>
          <li><span id="book">Book Tutor</span></li>
          <li><span id="feedback">Feedback</span></li>
      
        </ul>
        `;
      }
      sidebar();
      document.querySelector("#listtutor").addEventListener(
        "click",
        function (event) {
          event.preventDefault();
          document.getElementById("mainBody").innerHTML = '';
          document.getElementById("mainBody").innerHTML = `

         <div class="todisplay">
        <div class="tutorBlock">
          <% while(rs.next()){ %>
          <label><br>Tournament Name: <%= rs.getString("name") %> </label> <br>
          <label> </label>
          <br>
             <p><br> Starting Date: <%= rs.getString("sdate") %> <br> Ending Date: <%= rs.getString("edate") %> 
           </p> <br>
            <br>
            <% } %>
        </div>
      </div>  
`;
        },
        false
      );
      document.querySelector("#team").addEventListener(
        "click",
        function (event) {
          event.preventDefault();
          document.getElementById("mainBody").innerHTML = '';
          document.getElementById("mainBody").innerHTML = `
           <form class="tounamentForm" action="createteam.jsp" method="post">
          <h1>Create Team</h1>
          <div class="inputBox">
            <label>Team Name </label>
            <input name="teamname" type="text" />
          </div>
                                         
              <div class="inputBox">
            <label>Enter Tournament Name </label>
            <input name="tournaname" type="text" />
          </div>
                     
             <div class="inputBox">
            <label>QR Code </label>
            <img src="qr.png" width="180" height="160"/>
               
               </div>
                      <div class="inputBox">
            <label>Enter Payment Reference Number</label>
            <input name="payrefno" type="text" />
          </div>
          <div class="inputBox">
            <label></label>
            <input type="submit">
          </div>
        </form>`;

        },
        false
      );
      
//   

// `;
//      }
//      listtourna();
    </script>
  </body>
</html>